#canvas {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 5px;
    
}

#tool {
    float: right;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-right: 5px;
}

.btn {
    width: 50px;
    height: 50px;
    background: #757575;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
}

.row {
    width: 100%;
    text-align: center;
    line-height: 60px;
}

.first {
    width: 40%;
    height: 40px;
    background-color: rgb(221, 200, 190);
    margin-top: 20px;
    overflow: hidden;
}

.second {
    width: 25%;
    height: 45px;
    background-color: rgb(221, 200, 190);
    
    
    overflow: hidden;
}

.display {
    background-color: white;
    border-color: black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 97%;
    
    
    text-align: left;
}

#buttons {
    position: absolute;
    top: 5px;
    left: 10px;
}

#reset {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}

#save{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}

#files{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}

.color {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#purple {
    background-color: purple;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#pink {
    background-color: pink;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#ebebeb {
    background-color: #ebebeb;
    margin-right: 20px;
}

#color{
    cursor: pointer;
}